﻿<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>
	<link type="text/css" rel="stylesheet" media="all" href="{% static "theme1.css"%}" id="theme_css" >
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script>
	$( function() {
    $("#accordion").accordion();
	} );
	</script>
    <script>
	function myfunction(){
		document.getElementById("theme_css").href="{% static "theme2.css"%}";
	}
	</script>
</head>
<body>
<div>
<div>
<button type="button" class="btn btn-outline-primary" onclick ="myfunction();">Change Theme</button>
</div>
<div id="accordion">
  <h3>Profile</h3>
  <div>
    <p>
    Nama saya Mochamad Naufal Dzulfikar. Saya berkuliah di Universitas Indonesia. Sekarang saya mengalami masa-masa suram.
    </p>
  </div>
  <h3>Prestasi</h3>
  <div>
    <p>
    Jangan tanya.
    </p>
  </div>
  <h3>Kondisi</h3>
  <div>
    <p>
	Berusaha survive dari faslikom hingga sekarang.
    </p>
  </div>
</div>
</div>
</body>
</html>